#SideNav ul li a {
    padding: 4px;
    font-size: 0.95em;
    display: block;
    white-space: nowrap;
}

#SideNav .angle {
    display: inline-block;
    width: 17px;
}

#SideNav ul ul .angle {
    display: inline-block;
    width: 13px;
}

#SideNav ul ul a {
    font-size: 0.88em !important;
    padding-left: 22px !important;
    background: #37474f;
}

#SideNav ul ul ul a {
    padding-left: 40px !important;
    background: #455a64;
}

#SideNav ul ul ul ul a {
    padding-left: 60px !important;
    background: #546e7a;
}

#SideNav ul ul ul ul ul a {
    padding-left: 80px !important;
    background: #607d8b;
}

#SideNav ul ul ul ul ul a {
    padding-left: 100px !important;
    background: #78909c;
}

#SideNav ul li a:hover {
    color: #37474f;
    background: #fff;
}
