#SideNav ul li a {
    padding: 5px;
    font-size: 1.1em;
    display: block;
}

#SideNav .angle {
    display: inline-block;
    width: 17px;
}

#SideNav ul ul .angle {
    display: inline-block;
    width: 13px;
}

#SideNav ul ul a {
    font-size: 0.9em !important;
    padding-left: 25px !important;
    background: #37474f;
}

#SideNav ul ul ul a {
    padding-left: 50px !important;
    background: #455a64;
}

#SideNav ul ul ul ul a {
    padding-left: 75px !important;
    background: #546e7a;
}

#SideNav ul ul ul ul ul a {
    padding-left: 100px !important;
    background: #607d8b;
}

#SideNav ul ul ul ul ul a {
    padding-left: 125px !important;
    background: #78909c;
}

#SideNav ul li a:hover {
    color: #37474f;
    background: #fff;
}
